@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

body{
font-family: 'Fira Code', monospace;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color: #FDFFF8;
box-sizing: border-box;
}
.nav__menu li a{
display: inline-flex;
align-items: center;
font-size: 20px;
font-weight: bold;
text-decoration: none;
padding: 16px 32px 16px 16px;
color: inherit;
border-radius: 50px;
}
/* .firts_name{
position: absolute;
left: 164px;
top: 41px;
font-weight: bold;
font-size: 20px;
color: #000000;
} */

/* .firts_name{
  mask: url(../img/home.svg);
  -webkit-mask: url(../img/home.svg);
} */
/* .second_name{
position: absolute;
left: 164px;
top: 101px;
font-weight: bold;
font-size: 20px;
color: #000000;
}
.thid_name{
position: absolute;
left: 164px;
top: 161px;
font-weight: bold;
font-size: 20px;
color: #0038FF;
}
.fourth_name{
position: absolute;
left: 164px;
top: 221px;
font-weight: bold;
font-size: 20px;
color: #000000;
}
.fiftin_name{
position: absolute;
width: 106px;
height: 21px;
left: 159px;
top: 312px;
font-weight: bold;
font-size: 16px;
color: #FFFFFF;
} */

/* part2 */
/* h1{
position: absolute;
width: 98px;
height: 24px;
left: 368px;
top: 16px;
font-weight: bold;
font-size: 18px;
line-height: 24px;
color: #000000;
}
.part1 h2{
position: absolute;
left: 432px;
top: 73px;
font-weight: bold;
font-size: 16px;
line-height: 21px;
}
.part1 img{
position: absolute;
width: 48px;
height: 48px;
left: 368px;
top: 72px;
}
.part1 p{
position: absolute;
width: 395px;
height: 24px;
left: 432px;
top: 94px;
font-size: 16px;
line-height: 24px;
color: #000000;
}
.nick_vasya{
position: absolute;
left: 564px;
top: 74px;
font-size: 14px;
color: rgba(0, 0, 0, 0.5);
text-decoration:none;
}
.part2 h2{
position: absolute;
width: 68px;
height: 21px;
left: 432px;
top: 153px;
font-weight: bold;
font-size: 16px;
line-height: 21px;
}
.part2 img{
position: absolute;
width: 48px;
height: 48px;
left: 368px;
top: 152px;
}
.part2 p{
position: absolute;
width: 376px;
height: 24px;
left: 432px;
top: 174px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}
.nick_win{
position: absolute;
left: 516px;
top: 154px;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: rgba(0, 0, 0, 0.5);
text-decoration: none;
}
.part3 h2{
position: absolute;
width: 87px;
height: 21px;
left: 432px;
top: 233px;
font-weight: bold;
font-size: 16px;
line-height: 21px;
}
.part3 img{
position: absolute;
width: 48px;
height: 48px;
left: 368px;
top: 232px;
}
.part3 p{
position: absolute;
width: 385px;
height: 24px;
left: 432px;
top: 254px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}
.nick_inna{
position: absolute;
left: 535px;
top: 234px;
font-size: 14px;
line-height: 18px;
color: rgba(0, 0, 0, 0.5);
text-decoration: none;
} */
